<html>
    <head>
        <title>Home page</title>
        <script src="/js/jquery-2.1.1.js"/>
        <script src="/js/jquery.easing.js"/>
        <script src="/js/SigninHelper.js"/>
        <script src="/js/SignupHelper.js"/>
        <link rel="stylesheet" type="text/css" href="styles.css"/>
        <script type="text/javascript">
         $ = jQuery.noConflict();
            $(document).ready(function(e) {
            var pageWidth = $(document).width(), pageHeight = $(document).height();
            console.log('pageW: ' + pageWidth, 'pageH: ' + pageHeight);

            

            /* arrange elements */
            arrangeElmts();
            $(window).resize(function() {
                arrangeElmts();
            });

            $('input.userInfo').mouseup(function() {
                $('input.userInfo').css({'borderColor': 'lightGray'});
                $(this).css({'border-color': 'black'});
            })

                $('a.menuBtn').click(function() {
                console.log($(this).index());
                if($(this).index() == 0) {
                    $('p#botText').html("You're falling, falling, falling... and then you wake up. This is a very common dream and is said to symbolize insecurities and anxiety. Something in your life is essentially out of control and there is nothing you can do to stop it. Another interpretation is that you have a sense of failure about something. Maybe you're not doing well in school or at work and are afraid you're going to be fired or expelled. Again, you feel that you can't control the situation.  <i>~ by <a class=\"author\">Thai Minh</a></i>");
                }
                else {
                    $('p#botText').html("DSN is Dream Social Network.");
                }
            });


            function arrangeElmts() {
                var textDiv = $('div#textDiv'), formDiv = $('div#formDiv'),
                    topBar = $('div#topBar'), bgDiv = $('div#bgDiv'),
                    botDiv = $('div#botDiv'), botText = $('p#botText');

                var pageWidth = $(document).width(), pageHeight = $(document).height();

                formDiv.css({'left': pageWidth / 5 * 3});

                textDiv
                .width(formDiv.position().left - 20)
                .css({'top': topBar.height() + bgDiv.height()  - textDiv.height()});

                botText.css({'left': textDiv.position().left});

                botDiv.css({'top': topBar.height() + bgDiv.height()});

                $('#botDiv>p').width(formDiv.position().left - 50)



                console.log(topBar.height(), bgDiv.height(), botDiv.position().top);
            }

            /* infinitely changing background image */
            var bgDiv = $('div#bgDiv');
            var interval = 10000;
            var images = ['bg1.jpg', 'bg2.jpg', 'bg3.jpg', 'bg4.jpg', 'bg5.jpg', 'bg6.jpg']; // add more image here
            setTimeout(changeBg, interval, 1);
            function changeBg(imgId) {
                if(imgId >= images.length)
                    imgId = 0;
                bgDiv.fadeOut(300, function() {
                    bgDiv.css('background-image', 'url("' + images[imgId] + '")');
                    bgDiv.fadeIn(300);
                    setTimeout(changeBg, interval, ++imgId);
                });
            }
        });
        </script>
    </head>
    <body>
        <div id="topBar"><p>Dreamy Day</p></div>
        <div id="bgDiv"></div>
        <div id="formDiv">
            <div id="signinDiv">
                <form id="formSignin" method="post" name="signInSection">
                    <div>
                        <input id="username" class="userInfo" type="text" placeholder="Username" value="" name="usernamebox"/>
                    </div>
                    <div>
                        <input id="password" class="userInfo" type="password" placeholder="Password" name="passwordbox"/>
                    </div>
                    <div>
                        <input id="remember" type="checkbox"/> Remember me
                    </div>
                    <div id="buttonDiv">
                        <button id="signinBtn" type="button" onclick="signInButton()">Sign in
                        </button>
                    </div>
                </form>  
            <script>
            console.log('remind'+localStorage.getItem("remindMe"));
            if (localStorage.getItem("remindMe")==1){
                console.log(localStorage.getItem("username"));
                if (localStorage.getItem("username")!=undefined){
                    console.log('uu'+localStorage.getItem("username"));
                    document.signInSection.usernamebox.value=localStorage.getItem("username");
                }
                if (localStorage.getItem("password")!=undefined){
                    console.log('pp'+localStorage.getItem("password"));
                    document.signInSection.passwordbox.value=localStorage.getItem("password");
                }


            }
            </script>  
            </div>
            <div id="signupDiv">
                <p>New dreamer? Sign up here</p>
                <form id="formSignup" method="post">
                    <div>
                        <input id="email" class="userInfo" type="text" placeholder="Email"/>
                    </div>
                    <div>
                        <input id="username_reg" class="userInfo" type="text" placeholder="Username"/>
                    </div>
                    <div>
                        <input id="fullname_reg" class="userInfo" type="text" placeholder="Fullname"/>
                    </div>
                    <div>
                        <input id="password_reg" class="userInfo" type="password" placeholder="Password"/>
                    </div>
                    <div id="buttonDiv_reg"><button id="signupBtn" type="button" onclick="signUpButton()">Register</button></div>
                </form>
            </div>
        </div>
        <div id="textDiv"><h1>Welcome to Dreamy Day</h1></div>
        <div id="botDiv">
            <a class="menuBtn">Dream of the Day</a><a class="menuBtn">About Us</a>
            <p id="botText">You're falling, falling, falling... and then you wake up. This is a very common dream and is said to symbolize insecurities and anxiety. Something in your life is essentially out of control and there is nothing you can do to stop it. Another interpretation is that you have a sense of failure about something. Maybe you're not doing well in school or at work and are afraid you're going to be fired or expelled. Again, you feel that you can't control the situation.  <i>~ by <a class="author">Thai Minh</a></i></p>
        </div>
        <script>
            function signInButton(){
                var username = $('#username');
                var password = $('#password');
                signin(username.val(),password.val(),
                    function sucessSignin(data, textStatus, jqXHR){
                                    localStorage.setItem("sessionID",data.session_id);
                                    localStorage.setItem("username",username.val());
                                    localStorage.setItem("password",password.val());
                                    console.log(data);
                                    if (document.getElementById("remember").checked==true){
                                        localStorage.setItem("remindMe",1);
                                    }
                                    else {
                                        localStorage.setItem("remindMe",0);
                                    }
                                    window.location='/mainpage';
                    },
                    function errorSignin(xhRequest, ErrorText, thrownError){
                                    alert('Wrong password or username. Please try again');
                                    console.log('error');

                    }
                );
            }
            function signUpButton(){
                var email = $('#email');
                var username_reg = $('#username_reg');
                var fullname_reg = $('#fullname_reg');
                var password_reg = $('#password_reg');
                signup(username_reg.val(),password_reg.val(),fullname_reg.val(),email.val(),
                    function successSignup(data, textStatus, jqXHR){
                        alert('Welcome on Dreamy Day');
                        localStorage.setItem("sessionID",data.session_id);
                        localStorage.setItem("username",username_reg.val());
                        localStorage.setItem("password",password_reg.val());
                        window.location='/mainpage';

                    },
                    function errorSignup(xhRequest, ErrorText, thrownError){
                        alert('try an other username');
                    }
                );
            }
            function remindMe(){
                localStorage.setItem("remindMe",'yes');
                console.log(localStorage.getItem("remindMe")+'avant');
            }
        </script>
    </body>
</html>
 No newline at end of file
