<! DOCYPE html>
<html>
    <head>
        <title>mainpage</title>
    </head>
    <body>
        <title>The Main page is under construction</title>
        <button type="button" onclick="myfunction()">
        log out
        </button>
        <script>
        function myfunction(){
        window.location='/homepage'
        }
    </body>
</html>
