<! DOCYPE html>
<html>
    <head>
        <title>mainpage</title>
    </head>
    <body>
        <title>The Main page is under construction</title>
        <script >
        console.log('re'+localStorage.getItem("sessionUserName"));
        </script>
        <button type="button" onclick="myfunction()">
        log out
        </button>
    </body>
</html>
