<! DOCYPE html>
<html>
    <head>
        <title>mainpage</title>
            <script src="http://code.jquery.com/jquery-1.11.1.js"/>
            <script src="http://code.jquery.com/jquery-2.1.1.js"/>
            <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
            <script src="UserHelper.js"></script>
            <script src="DreamHelper.js"></script>
    </head>
    <body>
        <title>The Main page is under construction</title>
        <button type="button" onclick="myfunction()">  log out </button>
        <script>
            function myfunction(){
                window.location='/homepage';
            }
        </script>
        <button type="button" onclick="myfunction1()"> Get information on the user </button>
        <script>
            function onSuccess(data, textStatus, jqXHR){
                console.log(data);
                var userID = data.user_id;
                var sessionID=localStorage.getItem("sessionID");  
                
                if (data.result == "success") {
                    getUserInfo(sessionID,userID,
                    function success(data, textStatus, jqXHR) {
                        console.log(data);

                    },
                    function error(xhRequest, ErrorText, thrownError) {

                    }
                );
                }            
                

            }
            function onFail(xhRequest, ErrorText, thrownError){

            }
            function myfunction1(){
                var sessionID=localStorage.getItem("sessionID");
                //var username=localStorage.getItem("username");
                getSessionInfo(sessionID,onSuccess,onFail);

            }
        </script>
        <br> <br/>
        <button type="button" onclick="postdream">  Post a dream </button>
        <input type="text" name="Your dream" id="dream"></input><br/><br>
        <script>
            function callbackSuccesspost(data, textStatus, jqXHR){
                if (data.result == "success"){
                    console.log('dream posted'); 
                }

            }
            function postdream(){
                var te = $("#dream").val(); 
                postDream(sessionID, te, callbackSuccesspost, callbackErrorpost);
            }
            
        </script>
    </body>
</html>
