<html>
    <head>
        <title>mainpage</title>
            <script src="http://code.jquery.com/jquery-1.11.1.js"/>
            <script src="http://code.jquery.com/jquery-2.1.1.js"/>
            <script src="http://code.jquery.com/jquery-migrate-1.2.1.js"/>
            <script src="UserHelper.js"/>
            <script src="DreamHelper.js"/>
    </head>
    <body>
        <title>The Main page is under construction</title>
        <button type="button" onclick="myfunction()">  log out </button>
        <script>
            function myfunction(){
                window.location='/';
                if (localStorage.getItem("remindMe")==0){
                    localStorage.removeItem("username");
                    localStorage.removeItem("password");
                }
            }
        </script>
        <button type="button" onclick="myfunction1()"> Get information on the user </button></br>
        <button type="button" onclick="logOut()"> log out </button></br>
        <script>
            function logOut(){
                window.location='/';
                if (localStorage.getItem("remindMe")==0){
                    localStorage.removeItem("username");
                    localStorage.removeItem("password");
                }
            }
            function onSuccess(data, textStatus, jqXHR){
                console.log(data);
                var userID = data.user_id;
                var sessionID=localStorage.getItem("sessionID");  
                console.log('Before'+userID+sessionID);
                
                if (data.result == "success") {
                    getUserInfo(sessionID,userID,
                    function success(data, textStatus, jqXHR) {
                        console.log(data);
                        write(data);

                    },
                    function error(xhRequest, ErrorText, thrownError) {

                    }
                );
                }            
                

            }
            function onFail(xhRequest, ErrorText, thrownError){

            }
            function myfunction1(){
                var sessionID=localStorage.getItem("sessionID");
                getSessionInfo(sessionID,onSuccess,onFail);
                console.log('antoine'+localStorage.getItem("username"));

            }
        </script>
        <br> <br/>
        <button type="button" onclick="postdream()">  Post a dream </button>
        <input type="text" name="Your dream" id="dream"></input><br/><br>
        <script>
            function callbackSuccesspostDream(data, textStatus, jqXHR){
                if (data.result == "success"){
                    console.log('dream posted'); 
                    localStorage.setItem("dreamId",data.dream_id);
                }
            }
            function callbackErrorpostDream(xhRequest, ErrorText, thrownError){
                console.log('echec');
                console.log(ErrorText);
            }

            function postdream(){
                var text = $("#dream").val(); 
                var sessionID=localStorage.getItem("sessionID");
                console.log('Posting dream: ' + text + ' with session ID: ' + sessionID);
                postDream(sessionID, text, callbackSuccesspostDream, callbackErrorpostDream);
            }
            
        </script>
        <br></b>
        <button type="button" onclick="getdream()">Go to news feed</button><br></br>
        <script>
        var sessionID=localStorage.getItem("sessionID");
        var userID=localStorage.getItem("userId");
            function getdream(){
                console.log('After '+ sessionID+ userID);
                window.location='/newsfeed';
                /*
                getUserDream(sessionID,userID ,
                    function success(data,textStatus,jqXHR){
                        console.log(data);
                        var te=data.text;
                },
                    function error(xhRequest, ErrorText, thrownError){
                        console.log('Can not get the dream');
                    }
                );  
*/
            }
            //write(te);
            </script>
    </body>
</html>
