<div class="header"> 
	<div class="div_search" align="right">
		<form action="#" id="search_box">
    		<div class="wrapper" align="left">
		        <input type="text" id="search" name="search" placeholder="Search..." />
		        <button type="submit" class="search_btn">
		        	<img id="icon_search" src="/images/search_icon.png" title="Search" />
		        </button>
    		</div>
		</form>
	</div>
</div>

<div class="main">
	<div class="left-panel">
		<div class="div_info">
			<div class="div_avatar"> </div>	
			<div class="div_name"> <a href="#">Anh Nguyen</a></div>
			<div class="bottom_line"></div>
			<div class="div_dream" id="dream">
				<img id="icon_dream" src="/images/shape2.png">
				<div class="div_dream_number">23</div>
			</div>

			<div class="div_dream" id="archivement">
				<img id="icon_dream" src="/images/shape1.png">
				<div class="div_dream_number">323</div>
			</div>
		</div>
		<div class="div_following">Following
			<div class="div_followers">
				<ul>
					<li>
						<div class="div_follower">
							<div class="div_follower_avatar"></div>
							<div class="div_follower_info">Mill K. Smith</div>
							<div class="div_follower_number">1</div>
						</div>
					</li>
					<li>
						<div class="div_follower">
							<div class="div_follower_avatar"></div>
							<div class="div_follower_info">Nguyễn Đăng Kỳ</div>
							<div class="div_follower_number">7</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main-panel">
		<div class="div_selections">
			<div class="div_selection" id="top_stories">Top stories
			</div>
			<div class="div_selection" id="new_dreams">New Dreams
			</div>
			<div class="div_selection" id="new_archivements">New Archivements
			</div>
		</div>
		<div class="div_posts">
			<div class="div_post">
				<div class="div_post_info">
					<div class="div_post_avatar"></div>
					<div class="div_post_user_name"> 
						<a href="##">Mill K. Smith</a> 
					</div>
					<div class="div_post_dream">dreams to make a latte art.</div>
					<br/>
					<div class="div_post_time">5 minutes ago</div>
				</div>
				<div class="div_post_progress"></div>
				<div class="div_post_image"> <img src="/images/Post_Image.png"> </div>
				<div class="div_post_like"></div>
			</div>
			<div class="div_post_comments"></div>
		</div>
		<div class="right-panel">
		</div>
	</div>

	
</div>
