<!--
<script src="http://code.jquery.com/jquery-2.1.1.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/> 
<script type="text/javascript" src="/js/ejs_production.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>

<div class="header"> 
	<!-- <button id="testBtn" onclick="getDreams()">Get dream</button> -->
	<div class="div_logout">
		<a href="#"><img src="/images/Logout.png"></a>
	</div>
	<div class="div_search">
		<form action="#" id="search_box">
    		<div class="wrapper">
		        <input type="text" id="search" name="search" placeholder="Search..." />
		        <button type="submit" class="search_btn">
		        	<img id="icon_search" src="/images/search_icon.png" title="Search" />
		        </button>
    		</div>
		</form>
	</div>
	<div class="div_setting">
		<a href="#"><img src="/images/SettingIcon.png"></a>
	</div>
	<div class="div_new_post">
		<a href="#" id="newPost" onclick="showPostDialog()"><img src="/images/NewPostIcon.png"></a>
	</div>
</div>

<div class="main">
	<div class="left-panel">
		<div class="div_info">
			<div class="div_avatar"> </div>	
			<div class="div_name"> <a href="#">Anh Nguyen</a></div>
			<div class="bottom_line"></div>
			<div class="div_dream" id="dream">
				<img id="icon_dream" src="/images/shape2.png">
				<div class="div_dream_number">23</div>
			</div>

			<div class="div_dream" id="archivement">
				<img id="icon_dream" src="/images/shape1.png">
				<div class="div_dream_number">323</div>
			</div>
		</div>
		<div class="div_following">Following
			<div class="div_followers">
				<ul>
					<% var followers = ['Mill K. Smith', 'Nguyễn Đăng Kỳ']; %>
					<% var followers_num = [1, 7]; %>
					<% for (var i=0; i<followers.length; i++) { %>
						<li>
							<div class="div_follower">
								<div class="div_follower_avatar"></div>
								<div class="div_follower_info"><%= followers[i] %></div>
								<div class="div_follower_number"><%= followers_num[i] %></div>
							</div>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>

	<div class="main-panel">
		<div class="div_selections">
			<div class="div_selection" id="top_stories">Top stories
				<div class="select_arrow"> </div>
			</div>
			<div class="div_selection" id="new_dreams">New Dreams
			</div>
			<div class="div_selection" id="new_archivements">New Archivements
			</div>
		</div>
		<table>
			<th>
				<div class="div_posts">
					
				</div>
			</th>
			<th>
				<div class="right_panel">
					<div class="div_same_dreams">
						<% for (var i=0; i<3; i++) { %>
							<div class="div_same_dream">
								<table>
									<th><div class="div_post_avatar"></div> </th>
									<th>
										<p class="div_post_comment">
											<span class="div_post_user_name"> 
												<a href="##">Renka Sangu</a> 
											</span> 
										</p>
										<div class="div_post_time">10 same dreams with you</div>	
									</th>
								</table>
							</div>
						<% } %>
					</div>
					<div class="div_dream_tags">
						<p class="div_post_comment">
							<span class="div_post_user_name"> 
								People are dreaming...
							</span> 
							<span>
								<ul>
									<% var dream_tags = ['#abc', '#eds', '#redandblue', '#flora', '#alice', '#wonderland', '#adventure'] %>
									<% for (var i=0; i<dream_tags.length; i++) { %>
										<li> <%= dream_tags[i] %> </li>
									<% } %>
								</ul>
							</span>
						</p>
						<div class="div_expand"><a href="#">. . .</a></div>	
					</div>
				</div>
			</th>
		</table>
	</div>

	<div id="dimBg">
	     <div id="newPostDiv">
	   			<!-- Design posting dream here -->
		      <div method="post">
		            <textarea id="newContent" placeholder="write a new post..."></textarea>
		            <button id="postNewPost" onclick="postDreamBtnClick()">Post</button>
		            <button id="cancelNewPost" onclick="cancelDreamBtnClick()">Cancel</button>
		      </div>
	     </div>
	</div>
</div>

<script type="text/javascript">
	var newsfeed_Data = [];
	var sessionID=localStorage.getItem("sessionID");
	function getData() {
		console.log('Session ID: ' + sessionID);
        getNewsfeedDream(sessionID,
            function success(data,textStatus,jqXHR){
            	for (var i=0; i<data.message.length; i++) {
            		obj=[];
            		obj.dream=data.message[i];
            		newsfeed_Data.push(obj);
            	}
                getUsers(data.message, 0);
        	},
            function error(xhRequest, ErrorText, thrownError){
                console.log('Cannot get the dream: ' + ErrorText);
            }
        );
	}

	function set_HeightLeftPanel() {
		$("div.left-panel").height($("div.main-panel").height());
	}

	function getUsers(dreams_Data, i) {
		if (i==dreams_Data.length) {
			set_HeightLeftPanel();
			return;
		}
		getUserInfo(sessionID, dreams_Data[i].user_id,
			function success(data,textStatus,jqXHR){
				newsfeed_Data[i].user = data.message;
                insertDataToPage(newsfeed_Data[i]);
                getUsers(dreams_Data, i+1);
        	},
            function error(xhRequest, ErrorText, thrownError){
                console.log('Cannot get the user: ' + ErrorText);
            }
		);
	}

	function insertDataToPage(data) {
		data.user.avatar = "http://gravatar.com/avatar/" + hash_md5(data.user.email);
		var dreamStatus = new EJS({url: '/templates/dreamStatus.ejs'}).render(data);
		$("div.div_posts").append(dreamStatus);
	}

	function hash_md5(data) {
		var hh = CryptoJS.MD5(data).toString();
		return hh;
	}

	function showPostDialog() {
		$('#dimBg').css({visibility: 'visible'});
        //blockScrolling();
	}

	function postDreamBtnClick() {
		var text = document.getElementById("newContent").value;
		var el = document.getElementById("dimBg");
		
		postDream(sessionID, text,
			function success(data, textStatus, jqXHR) {
				console.log('Data: ' + data);
				el.style.visibility = (el.style.visibility == "visible") ? "collapse" : "visible";
				location.reload();
			},
			function error(xhRequest, ErrorText, thrownError) {
				console.log('Error posting dream: ' + ErrorText);
			}
		)
	}

	function cancelDreamBtnClick() {
		$('#dimBg').css({visibility: 'collapse'});
        //restoreScrolling();
	}
</script>



