<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/> 
<script type="text/javascript" src="/js/ejs_production.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>


<div class="header"> 
	<!-- <button id="testBtn" onclick="getDreams()">Get dream</button> -->
	<div class="div_logout">
		<a href="#" onclick="logoutBtnClick()"><img src="/images/Logout.png"></a>
	</div>
	<div class="div_search">
		<form action="#" id="search_box">
    		<div class="wrapper">
		        <input type="text" id="search" name="search" placeholder="Search..." />
		        <button type="submit" class="search_btn">
		        	<img id="icon_search" src="/images/search_icon.png" title="Search" />
		        </button>
    		</div>
		</form>
	</div>
	<div class="div_setting">
		<a href="#"><img src="/images/SettingIcon.png"></a>
	</div>
	<div class="div_new_post">
		<a href="#" id="newPost" onclick="showPostDialog()"><img src="/images/NewPostIcon.png"></a>
	</div>
</div>

<div class="main">
	<div class="left-panel">
		<div class="div_info">
			
		</div>
		<div class="div_following">Following
			<div class="div_followers">
				<ul>
					<% var followers = ['Mill K. Smith', 'Nguyễn Đăng Kỳ']; %>
					<% var followers_num = [1, 7]; %>
					<% for (var i=0; i<followers.length; i++) { %>
						<li>
							<div class="div_follower">
								<div class="div_follower_avatar"></div>
								<div class="div_follower_info"><%= followers[i] %></div>
								<div class="div_follower_number"><%= followers_num[i] %></div>
							</div>
						</li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>

	<div class="main-panel">
		<div class="div_selections">
			<div class="div_selection" id="top_stories">Top stories
				<div class="select_arrow"> </div>
			</div>
			<div class="div_selection" id="new_dreams">New Dreams
			</div>
			<div class="div_selection" id="new_archivements">New Archivements
			</div>
		</div>
		<table>
			<th>
				<div class="div_posts">
					
				</div>
			</th>
			<th>
				<div class="right_panel">
					<div class="div_same_dreams">
						<% for (var i=0; i<3; i++) { %>
							<div class="div_same_dream">
								<table>
									<th><div class="div_post_avatar"></div> </th>
									<th>
										<p class="div_post_comment">
											<span class="div_post_user_name"> 
												<a href="##">Renka Sangu</a> 
											</span> 
										</p>
										<div class="div_post_time">10 same dreams with you</div>	
									</th>
								</table>
							</div>
						<% } %>
					</div>
					<div class="div_dream_tags">
						<p class="div_post_comment">
							<span class="div_post_user_name"> 
								People are dreaming...
							</span> 
							<span>
								<ul>
									<% var dream_tags = ['#abc', '#eds', '#redandblue', '#flora', '#alice', '#wonderland', '#adventure'] %>
									<% for (var i=0; i<dream_tags.length; i++) { %>
										<li> <%= dream_tags[i] %> </li>
									<% } %>
								</ul>
							</span>
						</p>
						<div class="div_expand"><a href="#">. . .</a></div>	
					</div>
				</div>
			</th>
		</table>
	</div>

	<div id="dimBg">
	     <div id="newPostDiv">
	   			<!-- Design posting dream here -->
		      <div method="post">
		            <textarea id="newContent" placeholder="write a new post..."></textarea>
		            <button id="postNewPost" onclick="postDreamBtnClick()">Post</button>
		            <button id="cancelNewPost" onclick="cancelDreamBtnClick()">Cancel</button>
		      </div>
	     </div>
	</div>
</div>

<script type="text/javascript">
	var newsfeed_Data = [];
	var sessionID=localStorage.getItem("sessionID");

	function getData() {
		console.log('Session ID: ' + sessionID);
		getSessionInfo(sessionID, 
			function success(data,textStatus,jqXHR){
				newsfeed_Data.account = data.message;
				getUserInfo(sessionID, newsfeed_Data.account.user_id,
					function success(data,textStatus,jqXHR){
						newsfeed_Data.user = data.message;
						console.log(newsfeed_Data);
						insertUserToPage(newsfeed_Data);
		        	},
		            function error(xhRequest, ErrorText, thrownError){
		                console.log('Cannot get the user: ' + ErrorText);
		            }
				);
        	},
            function error(xhRequest, ErrorText, thrownError){
                console.log('Cannot get the dream: ' + ErrorText);
		});
        getNewsfeedDream(sessionID,
            function success(data,textStatus,jqXHR){
            	for (var i=0; i<data.message.length; i++) {
            		obj=[];
            		obj.dream=data.message[i];
            		newsfeed_Data.push(obj);
            	}
                getUsers(data.message, 0);
        	},
            function error(xhRequest, ErrorText, thrownError){
                console.log('Cannot get the dream: ' + ErrorText);
            }
        );
	}

	function insertUserToPage(data) {
		data.user.avatar = "http://gravatar.com/avatar/" + hash_md5(data.user.email);
		var info = new EJS({url: '/templates/userInfo.ejs'}).render(data);
		$("div.div_info").append(info);
	}

	function getUsers(dreams_Data, i) {
		if (i==dreams_Data.length) {
            getComments(dreams_Data, 0);
			return;
		}
		getUserInfo(sessionID, dreams_Data[i].user_id,
			function success(data,textStatus,jqXHR){
				newsfeed_Data[i].user = data.message;
                getUsers(dreams_Data, i+1);
        	},
            function error(xhRequest, ErrorText, thrownError){
                console.log('Cannot get the user: ' + ErrorText);
            }
		);
	}

	function getUserComment(dreams_Data, x, comments, i) {
		if (i==comments.length) {
			getComments(dreams_Data, x+1);	
			return;
		}
		getUserInfo(sessionID, comments[i].user_id,
			function success(data,textStatus,jqXHR){
				comments[i].user = data.message;
				comments[i].user.avatar = "http://gravatar.com/avatar/" + hash_md5(comments[i].user.email);
				comments[i].created_at = moment(comments[i].created_at).fromNow();
                getUserComment(dreams_Data, x, comments, i+1);
        	},
            function error(xhRequest, ErrorText, thrownError){
                console.log('Cannot get the user: ' + ErrorText);
            }
		);
	}

	function getComments(dreams_Data, i) {
		if (i==dreams_Data.length) {
			insertDataToPage(newsfeed_Data, 0);
			return;
		}
		getDream(sessionID, dreams_Data[i].id,
			function success(data,textStatus,jqXHR){
				newsfeed_Data[i].comments = data.message.comments;
				getUserComment(dreams_Data, i, newsfeed_Data[i].comments, 0);
        	},
            function error(xhRequest, ErrorText, thrownError){
                console.log('Cannot get comments: ' + ErrorText);
            }
		);
	}

	var dreamStatus = "";

	function insertDataToPage(data, i) {
		if (i==data.length) {
			$("div.div_posts").append(dreamStatus);
			setTimeout(function() {
				$("div.left-panel").height($("div.main-panel").height());
			}, 50);
			return;
		}
		data[i].user.avatar = "http://gravatar.com/avatar/" + hash_md5(data[i].user.email);
		data[i].dream.time_post = moment(data[i].dream.created_at).fromNow();
		dreamStatus += new EJS({url: '/templates/dreamStatus.ejs'}).render(data[i]);
		insertDataToPage(data, i+1);
	}

	function hash_md5(data) {
		var hh = CryptoJS.MD5(data).toString();
		return hh;
	}

	function showPostDialog() {
		$('#dimBg').css({visibility: 'visible'});
        //blockScrolling();
	}

	function postDreamBtnClick() {
		var text = document.getElementById("newContent").value;
		var el = document.getElementById("dimBg");
		
		postDream(sessionID, text,
			function success(data, textStatus, jqXHR) {
				el.style.visibility = (el.style.visibility == "visible") ? "collapse" : "visible";
				location.reload();
			},
			function error(xhRequest, ErrorText, thrownError) {
				console.log('Error posting dream: ' + ErrorText);
			}
		)
	}

	function logoutBtnClick(){
        window.location='/';
        if (localStorage.getItem("remindMe")==0){
            localStorage.removeItem("username");
            localStorage.removeItem("password");
        }
    }

	function cancelDreamBtnClick() {
		$('#dimBg').css({visibility: 'collapse'});
        //restoreScrolling();
	}

	$(document).ready(function() {
		getData();
	}); 
</script>



