<!DOCTYPE html>
	<html>

		<head>
			<title> Please Sign up </title>
			
			<script src="http://code.jquery.com/jquery-1.11.1.js"/>
			<script src="http://code.jquery.com/jquery-2.1.1.js"/>
			<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
			<script src="SignupHelper.js"></script>
			
		</head>
		<body onload="setCookie()">
			<form>
				User Name :<input id="user_name" name="username" placeholder="Write your pseudo"/><br>
				Password : <input id="password" name="password" placeholder="write a password"/><br>
			<input type="button" Value="Submit" onclick="myFunction()"/>
			<script>      

				function onSuccess(data, textStatus, jqXHR) {
					if (data.result == "success") {
						localStorage.setItem("sessionID",data.session_id);
						localStorage.setItem("username",document.getElementById('user_name').value);
						window.location = '/mainpage';
					}
				}

				function onFail(xhRequest, ErrorText, thrownError) {
					console.log(ErrorText);
				}
				
				function myFunction(){
					console.log("requesting...");
					var inputUsername = document.getElementById('user_name');
					var inputPassword = document.getElementById('password');
					signin(inputUsername.value, inputPassword.value, onSuccess, onFail);
				}
			</script>
			</form>
		</body>
	</html>