<!DOCTYPE html>
	<html>

		<head>
			<title> Please Sign up </title>
			
			<script src="http://code.jquery.com/jquery-1.11.1.js"/>
			<script src="http://code.jquery.com/jquery-2.1.1.js"/>
			<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
			<script>
			function setCookie(cname,cvalue,exdays) {
			    var d = new Date();
			    d.setTime(d.getTime() + (exdays*24*60*60*1000));
			    var expires = "expires=" + d.toGMTString();
			    document.cookie = cname+"="+cvalue+"; "+expires;
			}

			function getCookie(cname) {
			    var name = cname + "=";
			    var ca = document.cookie.split(';');
			    for(var i=0; i<ca.length; i++) {
			        var c = ca[i];
			        while (c.charAt(0)==' ') c = c.substring(1);
			        if (c.indexOf(name) != -1) {
			            return c.substring(name.length, c.length);
			        }
			    }
			    return "";
			}

			function checkCookie() {
			    var user=getCookie("username");
			    if (user != "") {
			        alert("Welcome again " + user);
			    } else {
			       user = prompt("Please enter your name:","");
			       if (user != "" && user != null) {
			           setCookie("username", user, 30);
			       }
			    }
			}
			</script>
		</head>
		<body onload="setCookie()">
			<form>
				User Name :<input id="user_name" name="username" placeholder="Write your pseudo"/><br>
				Password : <input id="password" name="password" placeholder="write a password"/><br>
			<input type="button" Value="Submit" onclick="myFunction()"/>
			<script>      
				function myFunction(){
					
					console.log("requesting...");
					var inputUsername = document.getElementById('user_name');
					var inputPassword = document.getElementById('password');

								
					$.ajax({
						type: "POST",
						url: "http://dreamyday.tk:80/session/signin",
						data: {username: inputUsername.value, password: inputPassword.value},
						success: function(data, textStatus, jqXHR){
							console.log(data);
							console.log(textStatus);
							var usernameee=inputUsername.value;

							if (data.result == "success") {
								localStorage.setItem("sessionUserName", inputUsername.value);
								window.location='/mainpage';
							}
						},
						error: function(xhRequest, ErrorText, thrownError) {
							console.log(xhRequest);
							console.log(ErrorText);
							console.log(thrownError);
						}
					})
					.done(function(msg){
						console.log("requested");
					});
				}

			</script>
			</form>
		</body>
	</html>