<!DOCTYPE html>
	<html>
		<head>
			<title> Please Sign up </title>
			<script src="http://code.jquery.com/jquery-1.11.1.js"/>
			<script src="http://code.jquery.com/jquery-2.1.1.js"/>
			<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
			<script src="SignupHelper.js"></script>
		</head>
		<body>
			<form action="myFunction()">
				User Name :<input id="user_name" name="username" placeholder="Choose a pseudo"/><br>
				Full Name :<input id="fullname" placeholder="Full name"/><br>
				Email :<input id="email" placeholder="Your email address"/><br>
				Password : <input id="password" placeholder="Choose a password name"/><br>
			<input type="button" Value="Submit" onclick="myFunction()"/>
			
			<script>
				function onSuccess(data, textStatus, jqXHR) {
					if (data.result == "success") {
						window.location = '/mainpage';
					}
				}

				function onFail(xhRequest, ErrorText, thrownError) {
					console.log(ErrorText);
				}
				
				function myFunction(){
					console.log("requesting...");
					var inputUsername = document.getElementById('user_name');
					var inputFullname = document.getElementById('fullname');
					var inputEmail = document.getElementById('email');
					var inputPassword = document.getElementById('password');
					signup(inputUsername.value, inputPassword.value, inputFullname.value, inputEmail.value, onSuccess, onFail);
				}
			</script>
			</form>
		</body>
	</html>