body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Segoe WP", sans-serif;
    background-color: #e6e6e6;
    overflow-y: scroll;
}

div#bodyDiv {
    position: absolute;
    top: 330px;
    width:100%;
    height: 100%;
    background-attachment: fixed;
    background-image: url( paper_boat.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    z-index: -10;
}

div#topBar{
    position: fixed;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0; 
    color: white;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(103, 114, 173, 1);
    z-index: 99;
}

div#topBar>p{
    font-weight: bolder;
    position: relative;
    top: -50%;
    transform: translateY(50%);
    padding-left: 30px;
}

input#search {
    position: relative;
    top: 5px;
    left: 100px;
    height: 25px;
    width: 300px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.13);
    color: white;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: white;
}

button#searchBtn {
    position: relative;
    top: 5px;
    left: 65px;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    background: transparent;
    background-image: url(magnifier.png);
    background-position: center;
    background-size: cover;
    border: none;
}

button#settingBtn {
    position: relative;
    top: -5px;
    left: 100px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    background-image: url(gear.png);
    background-position: center;
    background-size: cover;
}

li.has-sub {
    position: absolute;
    right: 30px;
    top: 0px;
    width: 150px;
    margin-top: 10px;
    list-style: none;  
    padding: 0px;
    
}

li.has-sub ul {
    position: relative;
    top: -19px;
    background-color: white;
    border-radius: 0 0 5px 5px;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
    visibility: collapse;
}

li.has-sub > ul > li {
    position: relative;
    left: -30px;
    margin: 5px;
    width: 120px;
}

li.has-sub > ul > li :hover {
    font-weight: bold;
}

li.has-sub > ul > li > a{
    position: relative;
    font-weight: light;
    color: black;
    text-decoration: none;
}

div.divider {
    position: relative;
    left: -25px;
    width: 120px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

div#coverDiv {
    position:relative;
    top: 40px;
    width: 100%;
    height: 250px;
    background: lightGray;
    background-repeat: no-repeat;
    background-image: url(cover.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}

div#avatarDiv {
    position: absolute;
    top: 195px;
    left: 150px;
    width: 150px;
    height: 150px;
    background: gray;
    border: 5px solid white;
    background-image: url(user1.JPG);
    background-position: center;
    background-size: contain;
    z-index: 1;
}

div#userMenu {
    position: relative;
    top: 40px;
    left: 0px;
    right: 0px;
    height: 40px;
    background: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.19); 
    padding-left: 400px;
}

button.userMenuItem {
    position: absolute;
    width: 130px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 105%;
    color: black;
}

button#followBtn {
    position: absolute;
    top: 5px;
    height: 30px;
    width: 80px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: blue;
}

div#userPosts {
    position: relative;
    top: 100px;
    left: 100px;
    width: 500px;
    height: 1000px;
}

div.postItem {
    position: absolute;
    width: 100%;
    height: 400px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.19); 
    margin: 0 0 30px 0;
}

div.userImg {
    position: absolute;
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 2px;
    background-image: url(user1.JPG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

div.postInfo {
    color: black;
    position: relative;
    left: 50px;
    width: 350px;
    height: 40px;
}

div.postDate {
    color: gray;
    font-size: 
}

div.postImg {
    position: relative;
    top: 20px;
    width: 100%;
    height: 250px;
    max-height: 250px;
    background-image: url(img1.jpg);
    margin-left: -10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

div.postContent {
    position: relative;
    top: 30px;
    width: 100%;;
    color: black;
}

div.postTags {
    position: relative;
    top: 40px;
    color: blue;
}

div.postTags > a {
    margin-right: 10px;
    text-decoration: none;
}

div.postStat {
    position: relative;
    top: 50px;
    color: black;
    width: 100%;
}

div.postStat > span {
    width: 100px;
    margin-right: 50px;
}

button.expandBtn {
    position: relative;
    top: 70px;
    bottom: 0px;
    width: 100%;
    height: 30px;
    margin-left: -10px;
    background: transparent;
    font-weight: bold;
    border: none;
    color: blue;
}


div.divider2 {
    position: relative;
    top: 57px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    
}

div.commentList {
    position: relative;
    top: 65px;
}

div.commentItem {
    height: auto;
    padding: 5px;
    margin: 3px;
}

div.cmtAvatar {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: lightGray;
    background-image: url(commenter2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

div.cmtContent {
    position: relative;
    left: 50px;
    width: 430px;;
}
 
div.cmtPoster {
    font-weight: 500;
}





