<div class="div_post_info">
	<table>
		<th>
			<div class="div_post_avatar">
				<%= img_tag(user.avatar) %>
			</div> 
		</th>
		<th>
			<p class="div_post_comment"s>
				<span class="div_post_user_name"> 
					<a href="##"> <%= user.fullname %> </a> 
				</span> 
				<span class="div_post_dream"> <%= text %></span>
			</p>
			<div class="div_post_time">a few seconds ago</div>	
		</th>
	</table>
</div>