<div class="div_avatar"> 
	<%= img_tag(user.avatar) %>
</div>	
<div class="div_name"> <a href="#"> <%= user.fullname %></a></div>
<div class="bottom_line"></div>
<div class="div_dream" id="dream">
	<img id="icon_dream" src="/images/shape2.png">
	<div class="div_dream_number">23</div>
</div>

<div class="div_dream" id="archivement">
	<img id="icon_dream" src="/images/shape1.png">
	<div class="div_dream_number">323</div>
</div>