div.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
	background: #0066ff;
    z-index: 2;
    height: 50px;
}

div.header > div {
    float: right;
}

div.header img {
    width: 100%;
    height: 100%;
}

.div_new_post {
    height: 100%;
    width: 70px;
    background: #0b4271;
    margin-right: 10px;
}

.div_setting {
    height: 100%;
    width: 70px;
    background: #0b4271;
}

.div_logout {
    height: 100%;
    width: 70px;
    background: #0b4271;
    margin-right: 20px;
}

.div_search {
    margin: 7px 20px;
}

#search_box {
    width: 450px;
    overflow: hidden;
}

#search_box .wrapper {
    background: white;
    border: 0px;
    border-radius: 10px;
    padding: 5px 10px;
    position: relative;
    margin: 0px;
}

#search_box input { 
	border: 0px; 
	padding: 2px;
	font: 14px Arial, sans-serif; 
    width: 85%;
}

#search_box button {
    border: 0px;
    width: 50px;
    height: 100%;
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 0px;
    right: 0px;
    background: #3894e2;
    opacity: 0.5;
}

#icon_search {
	width: 50%;
	height: 50%;
}

.main {
    position: absolute;
    overflow: auto;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #e4e7ee;
}

.left-panel {
	width: 300px;
    height: 100%;
	border-right: 1px solid #cccccc;
    background: white;
}

.bottom_line {
    background: #cccccc;
    height: 2px;
    width: 260px;
    position: absolute;
    left: 20px;
    top: 150px;
}

.div_avatar {
    width: 100px;
    height: 100px;
    background: #cacaca;
    position: absolute;
    top: 30px;
    left: 30px;
}

.div_name {
    position: absolute;
    left: 150px;
    top: 50px;
}

.div_name > a {
    text-decoration: none;
    color: black;
    font: bold 20px Arial, sans-serif; 
}

.div_name > a:hover {
    text-decoration: underline;
    color: blue;
}

.div_following {
    color: red;
    position: relative;
    background-color: #f1f1f1;
    height: 90%;
    top: 250px;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px;   
}

.div_followers {
    color: black;
}

.div_follower {
    height: 40px;
    width: 260px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
}

.div_follower_avatar {
    position: absolute;
    height: 40px;
    width: 40px;
    background: #cacaca;
}

.div_follower_info {
    position: absolute;
    margin-top: 10px;
    left: 70px;
}

.div_follower_number {
    position: absolute;
    margin-top: 10px;
    right: 20px;
}

#icon_dream {
    height: 20px;
    width: 25px;
    margin-left: 20px;
}

.div_dream {
    position: absolute;
    left: 15px;
    width: 260px;
    color: #0066ff;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.div_dream:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

#dream {
    top: 160px;
}

#archivement {
    top: 200px;
}

.div_dream_number {
    position: absolute;
    top: 5px;
    right: 30px;
}

.main-panel {
    position: absolute;
    left: 301px;
    top: 0px;
    right: 0px;
}

.div_selections {
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.div_selection {
    float: left;
    width: 33.33%;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px 0px;
    position: relative;
}

.select_arrow {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e4e7ee;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-right: auto;
    margin-left: auto;

}

.div_posts {
    padding: 25px 50px;
    width: 500px;
    overflow: hidden;
    font-weight: normal;
}

.div_post {
    margin-bottom: 40px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.div_post_info {
    padding: 10px;
    overflow: hidden;
}

.div_post_info div {
    font-weight: normal;
}

span {
    font-weight: normal;
}

p {
    margin: 0;
}

th {
    vertical-align: top;
}

.div_post_time {
    font-size: 12px;
    font-style: italic;    
    color: #757575;
    text-align: left;
}

.div_post_user_name > a {
    text-decoration: none;
}

.div_post_avatar {
    width: 50px;
    height: 50px;
    background-color: #cacaca;
}

.div_post_avatar > img {
    width: 50px;
    height: 50px;
}

.div_post_comment {
    padding: 0px;
    margin: 0px;
    text-align: left;
}

.div_post_progress {
    width: 100%;
    height: 20px;
    background: #cacaca;
    padding: 5px 0px;
    color: #6e6e6e;
    position: relative;
}

.div_post_progress_bar {
    width: 2%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: red;
}

.div_post_image {
    overflow: hidden;
    padding: 10px;
}

.div_post_image > img {
    width: 480px;
    background: white;
    border-radius: 5px;
}

.div_post_status {
    padding: 5px 15px;
    text-align: left;
}

.div_post_tags {
    text-align: right;
    padding: 0px 20px;
}

.div_post_tags ul li {
    display: inline;
    padding: 0px 2px;
}

.div_post_tags ul li:hover {
    color: #0066ff;
}

.div_post_like {
    padding: 5px 0px;
    overflow: hidden;
}

.div_post_like ul {
    margin: 0px;
    overflow: hidden;
}

.div_post_like ul li {
    float: left;
    padding: 0px 10px;
}

.div_post_like ul li div {
    float: left;
    padding: 0px 2px;
}

.div_post_like ul li div img {
    width: 25px;
    height: 20px;
}

.div_post_comments {
    background: #f1f1f1;
    margin-top: -10px;
    padding: 20px 10px 10px 10px;
    border: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.div_post_comments ul {
    margin: 0px;
}

#write_comment .wrapper {
    background: white;
    border: 1px solid;
    border-color: #757575;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    margin: 5px 10px;
}

#write_comment input { 
    border: 0px; 
    padding: 2px;
    font: 14px Arial, sans-serif; 
    width: 100%; 
}

.share_icon:hover {
    color: #4ee512;
}

.right_panel {
    overflow: hidden;
}

.right_panel > div {
    width: 260px;
    background: white;
    border-radius: 10px;
    margin-top: 25px;
    padding: 20px;
}

.div_same_dreams {
    height: 210px;
    overflow: hidden;
}

.div_same_dream {
    margin: 10px;
}

.div_dream_tags {
    height: 100px;
    position: relative;
}

.div_dream_tags li {
    float: left;
    padding: 2px;
    font-weight: normal;
    color: #757575;
}

.div_dream_tags li:hover {
    color: #0066ff;
}

.div_dream_tags ul {
    overflow: hidden;
    margin: 10px;
}

.div_dream_tags span {
    font-weight: bold;
    font-style: italic;
}

.div_expand {
    width: 100%;
    height: 30px;
    background: #f1f1f1;
    position: absolute;
    left: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    bottom: 0px;    
}

div#dimBg {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.34);
    z-index: 98;
    visibility: collapse;
}

div#newPostDiv {
    position: fixed;
    top: 250px;
    left: 350px;
    width: 500px;
    height: 160px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    z-index: 99;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.19); 
}

div#newPostDiv textarea{
    width: 455px;
    height: 100px;
    margin: 10px;
    padding: 10px 10px 0 10px;
}

div#newPostDiv textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}

button#postNewPost {
    position: absolute;
    bottom: 10px;
    right: 113px;
    height: 30px;
    width: 80px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: blue;
}

button#cancelNewPost {
    position: absolute;
    bottom: 10px;
    right: 23px;
    height: 30px;
    width: 80px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #393939;
}